[MESSAGES CONTROL]
disable = missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    too-many-arguments,
    too-few-public-methods,
    consider-iterating-dictionary,
    unnecessary-comprehension,
    bad-continuation,
    import-outside-toplevel,
    cyclic-import

[FORMAT]
max-line-length=119
